.MainDiv {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-left: 20px;
  width: 100%;
  background-color: rebeccapurple;
  color: white;
}

.arrowStyle {
  color: white;
  position: fixed;
  padding-top: 10px;
}
