.display_horizontal {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.heading {
  padding: 10px 10px 0px 10px
}

.display_vertical {
  display: block;
  padding-left: 10px;
}

.div_padding {
  padding: 10px;
}

.image_styles {
  border-radius: 5px;
}

.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  margin-right: 30px;
  border-radius: 10px;
}

.buttonSpacing {
  margin-right: 30px;
  border-radius: 10px;
}

.bookmarkStyle {
  border-radius: 10px;
}

.btnStyling {
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
}

.disableDecoration {
  text-decoration: none;
  color: #000000;
}
